<?xml version="1.0" encoding="utf-8"?>

<!--
** Copyright 2013, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<manifest 
		xmlns:android="http://schemas.android.com/apk/res/android"
      	package="your.icons.name.here"
      	android:versionCode="101"
      	android:versionName="1.0.1"
      	android:installLocation="internalOnly">
    <!-- android:installLocation is set to "internalOnly" 
    change to "auto" if you want the phone to decide where it gets installed to -->
    
    <!-- Permission required for setting the wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    
    <!-- This lets this code work on any screen size -->
    <supports-screens 
        android:anyDensity="true" 
        android:smallScreens="true" 
        android:normalScreens="true" 
        android:largeScreens="true"
        android:xlargeScreens="true"  
        android:resizeable="true" />
    
    <!-- minSDK set to run on Android 2.2 and newer
    	targetSDK set to run on latest version. This ensures 
    	the latest graphics are used on newer devices -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    
    <!-- Change the style to something else if you want a different look
    	Please refer to ABS Styles for choosing a style you want -->
    <application 
        android:allowBackup="true"
        android:label="@string/app_name" 
        android:icon="@drawable/icon"
        android:theme="@style/Theme.Sherlock.Light" >
        
    <!-- Main Activity that launches when you open the app from the drawer 
    	If you want the Flat Layout, replace android:name line with this
    	android:name="your.icons.name.here.AppActivity" -->
        <activity
            android:name="gridview.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <!-- Various Activities inside the app -->
		<activity 
            android:name="your.icons.name.here.AboutThemeActivity"
            android:label="@string/about_theme"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="your.icons.name.here.AboutDev"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>   
		<activity
            android:name="activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
         
    <!-- This is the Activity Dialog that pops up when selecting to apply your Icon Pack
    	Remove android:theme line if you want it to open as its own Activity and NOT a popup -->
		<activity 
            android:name="your.icons.name.here.LauncherDialog"
            android:label="@string/launcher_title"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>
        
        <activity  
            android:name="your.icons.name.here.Wallpaper" 
            android:label="@string/app_name" 
            android:icon="@drawable/icon_wall"
            android:screenOrientation="nosensor" 
            android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <!-- 
                ** The commented out line below determines if the Icon Pack shows up as an 
                ** icon in the launchers wallpaper picker. Remove the commented parts at the beginning 
                ** and end to enable it. Note: If you're using Apex, you will still see the list 
                ** of wallpapers by selecting Apex Wallpapers 
                -->
                <!-- <action android:name="android.intent.action.SET_WALLPAPER" /> -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="your.icons.name.here.Docks"
            android:label="@string/app_name"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity> 
        
    <!-- This is the Activity for Applying ADW Themes as well as its Icon Picker --> 
        <activity
				android:name="your.icons.name.here.Icons"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />                
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>              
        </activity>
    
    <!-- These Activities are for the various launchers to use the Icons -->
   	<!-- ADW / Nova / Holo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />       
            </intent-filter>
	<!-- LauncherPro / Holo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.fede.launcher.THEME_ICONPACK"/>
            </intent-filter>
	<!-- Apex -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
	<!-- Nova -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teslacoilsw.launcher.THEME" />
            </intent-filter>
		
    <!-- android:authorities NEEDS to be changed manually for each new pack
    	Failure to change name, will result in installation errors -->    
        <provider 
            android:name="your.icons.name.here.DocksProvider"
            android:authorities="your.icons.name.here.DocksProvider" />
		
    </application>
</manifest>